@model IEnumerable<GMO.FamilyTree.Web.Data.FamilyTree>
@{
    ViewData["Title"] = "Family Trees";
    ViewData["WideContent"] = true;
}
<h1 class="ft-page-title">Family trees</h1>
<p class="ft-page-lead">
    <a asp-action="Create" class="ft-link">Create new tree</a>
    &middot;
    <a asp-controller="Home" asp-action="Index" class="ft-link">Back to tree view</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Uid</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td><code>@item.Uid</code></td>
                <td class="text-nowrap">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="ft-link">Rename</a>
                    &middot;
                    <a asp-action="Delete" asp-route-id="@item.Id" class="ft-link">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
