@model GMO.FamilyTree.Web.Models.AddRelationViewModel
@using GMO.FamilyTree.Web.Data
@{
    var label = Model.IsChild ? "Add Child" : Model.RelationshipType switch
    {
        RelationshipType.Parent => "Add Parent",
        RelationshipType.Couple => "Add Partner",
        _ => "Add Relation"
    };
    ViewData["Title"] = label;
}
<h1 class="ft-page-title">@label</h1>
<form asp-action="AddRelation" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ContextMemberId" />
    <input type="hidden" asp-for="FamilyTreeId" />
    <input type="hidden" asp-for="RelationshipType" />
    <input type="hidden" asp-for="IsChild" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NickName" class="form-label">Nickname</label>
        <input asp-for="NickName" class="form-control" />
    </div>
    <partial name="_DateOfBirthField" />
    <div class="mb-3 form-check">
        <input asp-for="SetAsMe" class="form-check-input" />
        <label asp-for="SetAsMe" class="form-check-label">This is me (link to my account)</label>
    </div>
    <div class="ft-form-actions">
        <button type="submit" class="btn btn-primary">Add</button>
        <a asp-controller="Home" asp-action="Index" class="ft-link">Cancel</a>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
